@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap');

/* reset CSS */
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjus: 100%;
    /* iphone font size 변경 방지 */
}
/* ---------------------------------------- */

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------*/
/* -------------------header------------------- */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    z-index: 1000;
}

.header-container{
    display: flex;
}

.logo, .usermenu{
    flex: none;
    padding: 0.9rem 1.8rem;
}

.logo img{
    height: 38px;
}

.usermenu{
    margin-left: auto;  
}

    .usermenu-container{
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    .usermenu-container a{
        color: #3f72af;
    }
    .usermenu-container a:hover{
        color: #6796cf;
    }
    .user-name{
        line-height: 2.2;
    }
    .user-log{
        line-height: 2.2;
    }
    .material-icons.md-36 { font-size: 36px; }
/* -------------------header------------------- */

/* -------------------body------------------- */
.body-container{
    display: flex;
}
/* -------------------body-nav------------------ */
.nav{
    flex: none;
    width:190px;
    padding-top: 100px;
    background-color: #333;
}

.nav a{
    color: #818181;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 16px;
} 

.nav a i{
    width:50px;
}

.nav-container li{
    height: 80px;
    padding: 15px;
    border-bottom: 1px #262626 solid;
}
.nav-container a:hover, .dropdown-menu:hover {
    color: #f1f1f1;
  }

  .active {
    background-color: #58666e;
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
/* -------------------body-main------------------ */
.main{
    width:100%;
    min-height: 90vh;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 90px 30px 30px 30px;
    width: 100%;
}

.breadcrumb{
    display: flex;
    margin-right: auto;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
    .breadcrumb li{
        display: flex;
        align-items: center;
    }

.main-content-box{
    width: 98%;
    min-height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.main-content-box .content1{
    width: 100%;
    margin-top: 25px;
    padding: 30px 25px;
    background: #fff;
    border: 1px solid #ddd;
    height: inherit;
}
/* -------------------body------------------- */

/* -------------------footer------------------- */
.footer{
    min-height: 75px;
    background-color: #fff;  
}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-container>span{
    margin-top: 30px;
    color: #999;
    font-size: 12px;
}
/* -------------------footer------------------- */