@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap');

/* reset CSS */
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100% 	
}

tr, tbody{
	text-align: center;
	border-bottom: 1px solid #ccc;	
}
td{
	padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #58666e;
    background-color: #f0f3f4;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjus: 100%;
}
/* --------------------------------------------- */

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------- */
/* -------------------header------------------- */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    z-index: 1000;
}

.header-container{
    display: flex;
}

.logo, .usermenu{
    flex: none;
    padding: 0.9rem 1.8rem;
}

.logo img{
    height: 38px;
}

.usermenu{
    margin-left: auto;  
}

    .usermenu-container{
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    .usermenu-container a{
        color: #3f72af;
    }
    .usermenu-container a:hover{
        color: #6796cf;
    }
    .user-name{
        line-height: 2.2;
    }
    .user-log{
        line-height: 2.2;
    }
    .material-icons.md-36 { font-size: 36px; }
/* -------------------header------------------- */

/* -------------------body--------------------- */
.body-container{
    display: flex;
}
/* -------------------body-nav------------------ */
.nav{
    flex: none;
    width:190px;
    padding-top: 100px;
    background-color: #333;
}

.nav a{
    color: #818181;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 16px;
} 

.nav a i{
    width:50px;
}

.nav-container li{
    height: 80px;
    padding: 15px;
    border-bottom: 1px #262626 solid;
}
.nav-container a:hover, .dropdown-menu:hover {
    color: #f1f1f1;
  }

  .active {
    background-color: #58666e;
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
/* -------------------body-main------------------ */
.main{
    width:100%;
    min-height: 90vh;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 90px 30px 30px 30px;
    width: 100%;
}

.breadcrumb{
    display: flex;
    margin-right: auto;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.breadcrumb li{
    display: flex;
    align-items: center;
}

.main-content-box{
    width: 98%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
}

.main-content-box h1{
    margin-bottom: 50px;
}

.main-content-box .content1{
    display:flex;
    width: 100%;
    margin-bottom: 35px;
    padding: 50px 25px;
    --background: #fff;
    --border: 1px solid #ccc;
    height: inherit;
}

/* .list_section{
    border: 1px solid orangered;
    margin: 10px;
    padding: 10px;
    width: 100%
} */
.list_section{
	padding: 20px;
}
.content1 textarea{
	resize: none; min-height:150px; width: 100%;
	overflow-x, overflow-y :hidden;
	overflow: auto;
	background-color:#fe6;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe6), to(#f6ef97), color-stop(.6,#f5da41));
	background:-moz-linear-gradient(top, #fe6, #f5da41, #f6ef97);
	text-shadow:0 1px 0 #F6EF97;
	box-shadow:0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.2);
}
.mynote-tables{
	--display: flex;
	height:400px;
	width: 100%;
	margin-left: 130px;
}
 h2{
	margin-bottom: 30px;
}
.mynote-table1{
	display: flex;
	width: 100%;
} 
.mynote-table2{
	display: flex;
	width: 100%;
}

.mynote-tables table{
	table-layout:fixed;
	height:400px;
	width: 300px;
	margin-right: 20px; 
	--margin: auto;
	background-color:#fe6;
	background:-webkit-gradient(linear, 0% 0%, 0% 180%, from(#fe6), to(#f6ef97), color-stop(.6,#f5da41));
	background:-moz-linear-gradient(top, #fe6, #f5da41, #f6ef97);
	text-shadow:0 1px 0 #F6EF97;
	box-shadow:0 0 8px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.2);
	--border: 1px solid red;
	--flex-basis: 450px;
	--flex-grow: 2;
	--flex-shrink: 1;
	
}

.mynote-tables tr{
	--border: 1px solid black;
	padding-left: 30px;
	margin: 300px;
}

.mynote-tables tbody td{
	white-space: nowrap;
	--text-overflow: ellipsis;
	height: 100%;
	width: 100%
	font-size: 15px;
	justify-content: center;
	padding-top: 10px;
	padding-left: 43px;
}
.mynote-tables tbody td .mynote-content{
	text-overflow:ellipsis;
	overflow: hidden;
	height: 100%;
}
.plus-button{
	text-align: right;
	cursor:pointer;
}
.mynote-Id{
	display: none;
}
.mynote-date{
    font-size: 19px;
    font-weight: 500;
	text-align: left;
}
/* -------------------body------------------- */
/*---------------------------------------------*/
#pager{
	justify-content: center;
	text-align: center;
}
#pager .box{
	display:flex;
}
#pager ul{
	display:flex;
}
#pager li{
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
#pager li.current{
    font-weight: bold;
    color: #ff6a00;
}


.right{
	display:inline-block;
	text-align: right;
}

.d-none {
	display: none;
}

#course_table {
	width: 800px;
	margin-left : auto;
	margin-right: auto;
	text-align: center;
	line-height: 1.5;
	background-color: white;
}

#course_table>thead {
	background-color: #ff8040;
}

#course_table .even {
	background-color: #e9e9e9;
}
/* -------------------footer------------------- */
.footer{
    min-height: 75px;
    background-color: #fff;  
}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-container>span{
    margin-top: 30px;
    color: #999;
    font-size: 12px;
}
/* -------------------footer------------------- */