@import url(course_reset.css);

.d-none {
	display: none;
}

main {
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '¸¼Àº °íµñ', dotum,
		'µ¸¿ò', sans-serif;
	color: black;
	background-color: #ffe6f2;
	vertical-align: middle;
	text-align: center;
}

table {
	width: 800px; margin-left : auto;
	margin-right: auto;
	text-align: center;
	line-height: 1.5;
	background-color: white;
	margin-left: auto;
}

table>td::first-child {
	
}

table>thead {
	background-color: #ff8040;
}

.even {
	background-color: #e9e9e9;
}