@charset "EUC-KR";

img{
	width: 15px;
    height: 13px;
}
button {
	
	border: none;
	width: 32px;
	height: 22px;
	background-color: #f9f9f9;
	cursor: pointer;
	display: inline-block;
	color: #333333;
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffee66;
}

input {

  background-image : url('https://cdn4.iconfinder.com/data/icons/text-solid-style/24/font-color-512.png'); 
  background-repeat:no-repeat;

  }

/* id ------------------------------------------------------ */

#text {
	color: black;
	width: 70%;
	height: 500px;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	border: 1px solid gray;
	font: medium -moz-fixed;
	font: -webkit-small-control;
	overflow: auto;
	padding: 2px;
	resize: both;
}

#select-button {
	background-color: #f9f9f9;
	height: 20px;
	width: 69.2%;
	padding: 10px;
}
#fontName, #hiliteColor{
	width: 90px;
}
#fontSize, #fontColor {
	width: 50px;
}