@charset "EUC-KR";

body {
	width: 100%;
	height: 100%;
}

/* h3 {
	display: none;
} */

body, th, td, input, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
		'돋움', sans-serif;
	color: black;
}