@charset "EUC-KR";

body {
	width: 100%;
	height: 100%;
}

h3 {
	display: none;
}

body, th, td, input, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
		'돋움', sans-serif;
	color: black;
}

table {
	width: 50%;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
}

table th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

table td {
	width: 350px;
	padding: 13px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}


thead {
	background: #FAFAFA;
	text-align: center;
}

a {
	text-decoration: none;
}

a.hover{
	background-color: black;
}

select {
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%; /* 네이티브 화살표 대체 */
	width: 80px; /* 원하는 너비설정 */
	padding: 0.188em 0.2em; /* 여백으로 높이 설정 */
	font-family: inherit; /* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 0px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
	display: none;
}

/*-------------id-------------------------------  */
#body {
	display: flex;
	display: inherit;
	text-align: center;
}

#header {
	widht: 100%;
	height: 500px;
	background-color: pink;
	text-align: center;
	
}
#header h1{
	font-size: 100px;
}


/*--------------class-----------------------------  */
.list {
	text-align: center;
	margin-left: 500px;
	margin-top: 10px;
}

.reg {
	margin-left: 500px;
	margin-top: 10px;
}

.com_button, .reg_input {
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
}
.ed_button{
	background-color: pink;
}
.list_section form {
	display: inline-block;
}
textarea {
	min-height: 200px;
}
.center{
	text-align: center;
}